body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wall {
  width: 1300px;
  height: 600px;
  background-image: url("./assets/1678611110002.jpg");
  background-repeat: repeat;
  position: relative;
}

.wall div {
  position: absolute;
}
